.vcard {
    z-index: 1;
    width: 85mm;
    height: 55mm;
    margin: 10mm;
    float: left;
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;

    -webkit-box-shadow: 2mm 2mm black;
    -moz-box-shadow: 2mm 2mm black;
    box-shadow: 2mm 2mm black;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: -webkit-transform 0.6s ease-in-out;
}

.vcard:hover {
    z-index: 1000;

    -webkit-box-shadow: 3mm 4mm rgba(0,0, 0, 0.5);
    -moz-box-shadow: 3mm 4mm rgba(0,0, 0, 0.5);
    box-shadow: 3mm 4mm rgba(0,0, 0, 0.5);

    -webkit-transform: rotate(0deg) scale(1.25);
    -moz-transform: rotate(0deg) scale(1.25);
    transform: rotate(0deg) scale(1.25);
}
